#root {
  margin-bottom: 70px;
}

.main-content {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  box-shadow: 1px 2px 4px;
}

.feed-content {
  top: 20%;
  bottom: 20%;
}

.new-post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.recipe-input {
  background-color: #dee4e3;
  width: 46.5vw;
  margin: 3px;
  font-size: 16px;
  height: 4vh;
  border: none;
}

.post-btn {
  background-color: #FDAF51;
  width: 15vw;
  height: 6vh;
  border-radius: 5px;
  border: none;
  margin-top: 20px;

}

.post-btn:hover {
  box-shadow: 5px 5px 9px #acacac;
}

.new-post-writePost {
  display: flex;
  justify-content: center;
  background-color: #dee4e3;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  padding: 30px;
  width: 50vw;
  border-radius: 10px;
}

.post-content {
  background-color: #dee4e3;
  width: 45vw;
  height: 21vh;
  border: none;
  font-size: 22px;
  padding: 5px 10px;
  outline: none;
  resize: none;
  line-height: 2.3rem;

}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #eca99d88;
  position: fixed;
  bottom: 6%;
  width: 100%;
  height: 7%;
  left: 0%;
}

.logout-btn {
  margin-left: 39em;
  background-color: #ec6951;
  width: 6vw;
  height: 4vh;
  border-radius: 5px;
  border: none;
  margin-bottom: 1em;
}

.logout-btn:hover {
  box-shadow: 5px 5px 9px #acacac;
}

.logout-btn a {
  text-decoration: none;
  color: black;
}

.posts {
  list-style-type: none;
}

.posts li {
  cursor: pointer;
  border-bottom: 1px solid gray;
}

.like-container {
  display: flex;
  justify-content: flex-end;
}

@media (max-width:1279px) {
  .logout-btn {
    width: 7vh;
    height: 2vh;
    margin-left: 24em;
  }
}

@media (max-width:768px) {
  .logout-btn {
    width: 7vw;
    height: 2.5vh;
    margin-left: 22em;
  }
}

@media (max-width:480px) {
  .nav-menu {
    height: 8vh;
  }

  .logout-btn {
    width: 15vw;
    margin-left: 15em;
  }

  .recipe-input {
    width: 70vw;
    margin: 10px;
  }

  .post-content {
    width: 70vw;
    height: 25vh;
    font-size: 15px;
  }

  .post-btn {
    width: 30vw;
    height: 5vh;
  }

  .new-post-writePost {
    width: 65vw;
    
    border-radius: 10px;
  }
}